{% extends "base.html" %}

{% load static %}

{% block title %} Contact Form {% endblock title %}

{% block content %}


<div class="container-fluid">
    <main class="tm-main">

        {% if messages %}
        <div>
            {% include 'message.html' %}
        </div>
        {% endif %} 

        <div class="col-12">
                
            <h2 class="tm-color-primary tm-post-title tm-mb-60">Contact Admin:</h2>
        </div>

        <div class="col-lg-7 tm-contact-left">
            <form method="POST" action="" class="mb-5 ml-auto mr-0 tm-contact-form">
                {% csrf_token %}
                                  
                <div class="form-group row mb-4">
                    <label for="name" class="col-sm-3 col-form-label text-right tm-color-primary"></label>
                    <div class="col-sm-9">
                        <input class="form-control mr-0 ml-auto" name="name" id="name" placeholder="Enter Your Name" type="text" required>                            
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="email" class="col-sm-3 col-form-label text-right tm-color-primary"></label>
                    <div class="col-sm-9">
                        <input class="form-control mr-0 ml-auto" name="email" id="email" placeholder="Enter Your Email" type="email" required>
                    </div>
                </div>
                
                <div class="form-group row mb-5">
                    <label for="message" class="col-sm-3 col-form-label text-right tm-color-primary"></label>
                    <div class="col-sm-9">
                        <textarea class="form-control mr-0 ml-auto" name="message" id="message" placeholder="Write Your Message" rows="8" required></textarea>                                
                    </div>
                </div>
                <div class="form-group row text-right">
                    <div class="col-12">
                        <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>                        
                    </div>                            
                </div>                                
            </form>
        </div>

    </main>
</div>    


{% endblock content %}